#gallery {
    display: flex;
    list-style: none;
    align-items: center;
    background-color: gray;
}

#gallery li:not(:last-child) {
    margin-right: 20px;
}

.img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
}


#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

.gg { 
    margin-bottom: 20px;
    margin-top: 20px;
}